@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bd-gen {
  background-color: rgb(12, 21, 29);
}

.scroll-smoth {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.icon-stack {
  color: rgb(31 41 55);
  width: 24px !important;
  height: 24px !important;
  transition: all 0.25s;
}

.icon-span {
  transition: all 0.25s;
}

.icon-stack:hover {
  scale: 1.04;
}

div:has(.icon-span:hover) .icon-span:not(:hover) {
  background-color: rgb(64, 74, 88);
}

div:has(.icon-span:hover) .icon-span:not(:hover) .icon-stack {
  background-color: rgb(64, 74, 88);
  color: rgba(31, 41, 55, 0.7);
  transform: scale(0.9);
}

.icon-stack-light {
  color: rgb(31 41 55);
  width: 24px !important;
  height: 24px !important;
  transition: all 0.25s;
}

.icon-project {
  width: 24px !important;
  height: 24px !important;
  transition: all 0.25s;
}

.card-project {
  transition: all 0.25s;
}

.card-project:hover {
  scale: 1.04;
}

.cont-card-project:has(.card-project:hover) .card-project:not(:hover) {
  background-color: rgb(64, 74, 88);
  scale: 0.96;
}

.flex-mid {
  flex: 1 1 50%;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: white;
  transform-origin: 0%;
  z-index: 20;
  border-radius: 6px;
}

.img-card-project {
  width: 296px;
  height: 296px;
}

header {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
